body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    padding-left: 5%;
}

.half-width {
    width: 50%;
}

.half-width--left {
    padding-left: 20%;
}

.half-width  img {
    width:60%;
}

a {
    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 700;
}

span {
    color: orangered;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}