body{ 
    margin: 0;
}
#name{
    color: orangered;
}
        h1{
            width: 60px;
        }
body{
    font-family: 'Fira Sans', sans-serif;
    
}
.flex{
    display: flex;
    padding-left: 10px;
    width: 50;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}img{
    width:60%;
    padding-left: 40px;
}
h3{
    color: chocolate;
}

a{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 10px 30px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
}
.flex2{
    display: flex;
    padding-left: 10px;
    width: 50%;
}img{
    width:60%;
    padding-left: 40px;
}
.dream{
    text-align: right;
}