body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    padding-left: 5%;
}

.half-width {
    width: 50%;
}

.half-width--left {
    padding-left: 20%;
}

.half-width  img {
    width:60%;
}

a {
    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 700;
}

span {
    color: orangered;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
    

footer{
    text-align: center;
    font-size: 20px;
    margin: 5%;
}
.shadow{box-shadow: 10px 10px 40px grey;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;

}.box{box-shadow: 10px 10px 40px grey;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(4, 248, 216),rgb(35, 1, 253));
    border-image-slice: 1;


}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}